openapi: "3.0.0"
info:
  version: 1.0.0
  title: FutsalTokyo Agent API
  description: Currently supports reservation for Bonfim court at Ochiai-Minaminagasaki only.
servers:
  - url: https://api.futsaltokyo.xyz
paths:
  /bonfim:
    post:
      summary: Create a new Bonfim fixture
      operationId: createBonfimFixture
      tags:
        - bonfim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                court:
                  type: string
                  enum: [
                    outdoor,
                    indoor
                  ]
                date:
                  type: string
                  format: date
                time:
                  type: string
                  pattern: '^\d{4}-\d{4}$'
      responses:
        '202':
          description: Processing fixture request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /bonfim/{id}:
    get:
      summary: Info for a specific Bonfim fixture requested
      operationId: showBonfimFixtureById
      tags:
        - bonfim
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the fixture to retrieve
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fixture"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a specific Bonfim fixture
      operationId: deleteBonfimFixtureById
      tags:
        - bonfim
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the fixture to delete
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Requested fixture deleted
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    Fixture:
      required:
        - id
        - status
        - court
        - date
        - time
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [
            acknowledged,
            scheduling,
            failed,
            succeeded,
          ]
        court:
          type: string
          enum: [
            outdoor,
            indoor
          ]
        date:
          type: string
          format: date
        time:
          type: string
          pattern: '^\d{4}-\d{4}$'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

security:
  - basicAuth: []
